@model AcademyEF.ViewModels.CoursesVM.CourseListVM

@{
    ViewBag.Title = "Courses";
    ViewBag.Description = "Our current courses";
}
@if (AcademyEF.Services.AuthenticationService.LoggedUser != null &&
    AcademyEF.Services.AuthenticationService.LoggedUser.IsAdmin)
{
    <p>
        @Html.ActionLink("Create New", "Edit")
    </p>
}
@if (Model.Courses.Count == 0)
{
    <p>No courses found !!!</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
        
        @foreach (var item in Model.Courses)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="/Uploads/@item.ImagePath" alt="image" style="width:300px;height:300px;"/>
            </td>
            <td>
                @if (AcademyEF.Services.AuthenticationService.LoggedUser != null &&
                    AcademyEF.Services.AuthenticationService.LoggedUser.IsAdmin)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
        }
    </table>
}