@model AcademyEF.ViewModels.CoursesVM.CourseListVM

@{
    ViewBag.Title = "Courses";
    ViewBag.Description = "Our current courses";
}
@if (AcademyEF.Services.AuthenticationService.LoggedUser != null &&
    AcademyEF.Services.AuthenticationService.LoggedUser.IsAdmin)
{
    <p class="row" style="margin-left:17px;">
        @Html.ActionLink("Create New", "Edit", null, new { @class = "btn btn-info" })
    </p>
}
@if (Model.Courses.Count == 0)
{
    <p>No courses found !!!</p>
}
else
{
    foreach (var item in Model.Courses)
    {
        <div class="col-md-4">
            <div class="card" style="width: 30rem;">
                <img class="card-img-top" src="/Uploads/@item.ImagePath" alt="Card image cap" style="width:300px;height:300px;">
                <div class="card-block">
                    <h4 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h4>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    @if (AcademyEF.Services.AuthenticationService.LoggedUser != null &&
                            AcademyEF.Services.AuthenticationService.LoggedUser.IsAdmin)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" }) @Html.Raw("&nbsp;")
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                    }

                    @if (AcademyEF.Services.AuthenticationService.LoggedUser != null)
                    {
                    @Html.ActionLink("Assign", "Assign", new { id = item.ID }, new { @class = "btn btn-success" })
                    }
                </div>
            </div>
        </div>
    }
}